body{
    background-color: #f5d9d5;
    font-family: "Nunito", sans-serif;
}


#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color: white; 
}

#mainNavbar .nav-link:hover{
    color: #ea1c2c;
}

#mainNavbar .navbar-brand{
    color: #ea1c2c;
    
}

#headingGroup span{
    color : #ea1c2c;
}
#headingGroup h1{
    font-weight: 100;
    font-size: 4.5vw;
}

h2{
    font-weight: 100;
    font-size: 2rem;
    color: #ea1c2c;
}

.lead{
    color: #f498b8;
    line-height: 2;
}
.navbar.scrolled{
    background-color: rgb(222,192,222);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    h2 {
        font-size: 1.5rem;
    }
    .lead{
        font-size: 0.8rem;
    }
}

